backcall
decorator
Django
django-environ
djangorestframework
gunicorn
ipython
ipython-genutils
jedi
parso
pexpect
pickleshare
#pkg-resources
prompt-toolkit
psycopg2
psycopg2-binary
ptyprocess
Pygments
pytz
simplegeneric
six
traitlets
wcwidth
